#slider-nav {
    display: none;
    margin-top: 10px;
}

#slider-nav button {
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
}

body {
    width: 600px;
    margin: 100px auto 0;
}
* {
    margin: 0;
    padding: 0;
}

.slider {
    width: inherit;
    height: 300px;
    overflow: scroll;
}

.slider ul {
    width: 10000px;
    list-style: none;
}

.slider li {
    float: left;
}