body {
    font: 15px/1.5 arial, helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background: #f3f3f3;
}


/* header */

.brand-place {
    width: 100%;
    height: 50px;
    background: #5982da;
}

#brand {
    padding: 5px 0px 5px 50px;
    float: left;
}

.cart-button {
    float: right;
    color: #fff;
    margin: 5px 50px 5px 0;
}

sup{
    color: red;
}

#brand a{
    text-decoration: none;
    color: #fff;
    font-size: 25px;
}

#brand a:hover{
    font-size: 27px;
}

#menu {
    text-transform: uppercase;
    margin:0 auto;
    width: 900px;
}



/* product */


.filter {
    width: 100%;
}


.container {
    margin: 20px 0 20px 0;
    background: #fff;
}

.block {
    margin-top: 5px;
    border: #5982da solid 1px;
}



.headline {
    font-size: 20px;
    font-weight: bold;
}

.products img{
    max-height: 150px;
}

.read-more, .add-to-cart  {
    float: right;
    margin-bottom: 5px;
    color: #fff;
    text-decoration: none;
}

.carousel {
    width: 600px;
    height: 340px;
    margin: 0 auto;
    /* float: left; */
}

.carousel img {
    margin: 0 auto;
}


/* footer */

footer {
    width: 100%;
    height: 50px;
    background: #5982da;
    text-align: center;
    padding: 15px;
}


/* registration */

.form-group {
    width: 600px;
    margin: 25px auto;
}